{% extends 'base.html' %}

{% block title %}Edit task{% endblock %}

{% block content %}
    <h1>Edit Task</h1>
    
    <form method="post" action="{{ url_for('auth.edit_task', task_id=task.id) }}">
        {{ form.hidden_tag() }}
        <div>
            {{ form.title.label(class="form-label") }}<br>
            {{ form.title(class="form-control") }}<br>
        </div>
        <div>
            {{ form.description.label(class="form-label") }}<br>
            <textarea class="form-control" name="description" id="description" rows="5" cols="50">{{ form.description.data if form.description.data else '' }}</textarea><br>
        </div>
        <div>
            {{ form.start_date.label(class="form-label") }}<br>
            <input class="form-control" type="date" name="start_date" id="start_date" value="{{ form.start_date.data.strftime('%Y-%m-%d') if form.start_date.data else '' }}"><br>
        </div>
        <div>
            {{ form.due_date.label(class="form-label") }}<br>
            <input class="form-control" type="date" name="due_date" id="due_date" value="{{ form.due_date.data.strftime('%Y-%m-%d') if form.due_date.data else '' }}"><br>
        </div>
        <div>
            {{ form.reminder_time.label(class="form-label") }}<br>
            {{ form.reminder_time(class="form-control") }}<br>
        </div>
    </form>
    <div class="d-flex justify-content-start align-items-center">
        <div>
            <button class="btn btn-secondary" type="submit" style="margin-right: 10px;">Update task</button>
        </div>
        <form method="POST" action="{{ url_for('auth.delete_task', task_id=task.id) }}">
            <button style="margin-right: 10px; height: 100%;" class="btn btn-danger" type="submit" onclick="return confirm('Are you sure you want to delete this task?')">Delete task</button>
        </form>
        <a href="{{ url_for('auth.dashboard') }}">
            <button class="btn btn-primary" type="button">Dashboard</button>
        </a>
    </div>
{% endblock %}
