{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}

<!-- user registration form fields -->
<br><br>
<div class="login-logo">
    <a href="{{ url_for('auth.home') }}"><img src="static/images/logo.svg"></a>
</div>
<h2>Register</h2><br>
	<form method="POST" action="{{ url_for('auth.register') }}">
		{{ form.hidden_tag() }}
		<div>
			{{ form.firstname.label(class="form-label") }}<br>
			{{ form.firstname(class="form-control") }}<br>
		</div>
		<div>
			{{ form.lastname.label(class="form-label") }}<br>
			{{ form.lastname(class="form-control") }}<br>
		</div>
		<div>
			{{ form.username.label(class="form-label") }}<br>
			{{ form.username(class="form-control") }}<br>
		</div>
		<div>
			{{ form.email.label(class="form-label") }}<br>
			{{ form.email(class="form-control") }}<br>
		</div>
		<div>
			{{ form.phone.label(class="form-label") }}<br>
			{{ form.phone(class="form-control") }}<br>
		</div>
		<div>
			{{ form.password.label(class="form-label") }}<br>
			{{ form.password(class="form-control") }}<br>
		</div>
		<div>
			{{ form.confirm_password.label(class="form-label") }}<br>
			{{ form.confirm_password(class="form-control") }}<br>
		</div>
		<div class="d-flex justify-content-start align-items-center">
			<div style="margin-right: 10px;">
			{{ form.submit(class="btn bt btn-primary") }}
			</div><br>
			<a href="{{ url_for('auth.login') }}">
	        <button class="btn bt btn-primary" type="button">Login</button>
	    </a><br>
		</div>
	</form>
	<br><br>
{% endblock %}
